{% extends 'base.html.twig' %}

{% block title %}CBC WEB APP{% endblock %}

{% block body %}
<main>
    <div class="container">
        <h1>Membres du CBC</h1>
    </div>
    <div class="container">
        <div class="grid">
            <div>
                <input type="text" name="" id="">
                <button type="submit" class="contrast">🔎 Rechercher</button>
            </div>
            <div></div>
            <div></div>
        </div>

    </div>
    <div class="listing">
        {% for membre in membres %}
        <article class="membre-card">
            <header class="flex-column">
                <img src={{asset(membre.image)}} alt="photo de profil">
                <h5 class="flex">{{membre.firstname}} {{membre.lastname}}</h5>
                <small>
                    <p>{{membre.email}}</p>
                </small>
                <a href="#" role="button">RECOMMANDER</a>
            </header>

            <body>
                {% for company in membre.companies %}
                <a href="#">🏢 {{company.name|upper}}</a>
                {% endfor %}
            </body>
            <footer>
                <a href={{path('membre_read', {'id':membre.id})}}>Voir la fiche complète</a>
            </footer>
        </article>
        {% endfor %}
    </div>
</main>
{% endblock %}